services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5679:3000"
    volumes:
      - sqlite_data:/app/data
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/data/database.db
      - BETTER_AUTH_SECRET=mSI6cfdAeD1876y5VDqMEgczNXv7QI5A
    restart: unless-stopped

volumes:
  sqlite_data:
    driver: local
